<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Striped Progress bar </h4>
                <div class="progress m-t-20" *ngFor="let item of [].constructor(progress.length-1); let i = index">
                    <div class="progress-bar progress-bar-striped active" [ngClass]="getColor(progressColors[i+1])" [style.width]="getPorcentual(progress[i+1])" style="height:5px;" role="progressbar">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6" *ngFor="let item of [].constructor(progress.length-1); let i = index">
        <div class="card">
            <div class="card-body">
                <app-progress-bar-increase (value)="progress[i+1]=$event" [btnClass]="progressColors[i+1]" [value]='progress[i+1]'></app-progress-bar-increase>
            </div>
        </div>
    </div>
</div>